.dropbtn {
background-color: #4CAF50;
color: white;
padding: 16px;
font-size: 16px;
border: none;
cursor: pointer;
margin-right: 20px;
min-width: 90px;
text-align:center;
border-radius: 20px;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.header{
	background:#4caf50;
	height:70px;
    text-align: center;
	padding:10px
}

.content{
	display:flex;
	justify-content:center;
	margin-top: 2%;
}

.formDiv{
	display: flex;
}

.submitBtn{
	width: 135px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #4caf50;
    color: white;
	font-size:large;
}